<div class='twitch-icon-container'>
  <a classname="site-header__icon" href='https://id.twitch.tv/oauth2/authorize?claims=email%20picture%20preferred_username&client_id=6hf0fiwuk2127mjhs7hkuzy4xpqijf&redirect_uri=https%3A%2F%2Fkusora.myshopify.com%2F&response_type=token&scope=user_subscriptions%20openid'>
    <img class='twitch-icon' src={{'twitch.svg' | asset_url}}/>
  </a>
</div>